@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//tipo de fonte
$Font-primary: inter;
//size de fonte
$Font-size1: 32px;
$Font-size2: 28px;
$Font-size3: 18px;
$Font-size4: 16px;
$Font-size5: 14px;
$Font-size6: 12px;
//weight
$Font-bold: 900;
$Font-medium: 500;
$Font-light: 400;

